.nav1{
    position: sticky;
    z-index: 1000;
    font-family: Arial;
}

.nav{
    font-family: Arial;
}

ul{
    display: flex;

}
li{
    list-style: none;
    padding: 20px;
}

.nav ul a{
  text-decoration: none;
  color: black;
}