.card{
  font-size: 20px;
}
.btn5{
  margin-left: -5px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fafafa;
}