.list1 {
  color: white;  
  background: rgb(99, 97, 97);
  padding: 20px;
  box-sizing: border-box;
  margin-top: 30px;

}
.menu-row {
  display: flex;
}
.menu-column {
  width: 22%;
  margin-right: -40px;
  margin-left: 10px;
}
.menu-column h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}


.menu-column a {
  display: block;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 4px 0;
}


.menu-column a:hover {
  text-decoration: underline;
}
.menu-column strong {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  font-weight: bold;
}
.row6{
  display: flex;
}
.back1{
   width: 100px;
}
.back2{
  width: 110px;
}
.desgin svg{
  padding: 5px;
}